* {
  font-family: "Roboto", monospace;
  box-sizing: border-box;
}

.form-container {
  width: 60%;
  margin: auto;
  padding: 0.5rem;
}

.form-element {
  width: 100%;
}

.form-input {
  margin: auto;
  margin-bottom: 1rem;
  padding: 0 1rem;
  width: 100%;
}

.required:after {
  content: "*";
  color: #db0000;
  vertical-align: super;
  font-size: 70%;
}

.btn-primary {
  background-color: #1871cc;
}

.btn-success {
  background-color: #02844e;
}

.company-info-container {
  min-height: 40vh;
}

.company-info-field {
  height: 40vh;
}

.company-info-top-margin {
  margin-top: 4rem;
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 80%;
  }

  .company-info-container {
    min-height: 70vh;
  }

  .company-info-field {
    height: 70vh;
  }
}

@media screen and (max-width: 480px) {
  .form-container {
    width: 90%;
  }

  .company-info-container {
    min-height: 70vh;
  }

  .company-info-field {
    height: 70vh;
  }

  .company-info-top-margin {
    margin-top: 5rem;
  }
}
