* {
  font-family: "Roboto", monospace;
  box-sizing: border-box;
}

body {
}

.form-container {
  width: 50%;
  margin: auto;
  padding: 0.5rem;
}

.form-element {
  width: 100%;
}

.form-input {
  margin: auto;
  margin-bottom: 1rem;
  padding: 0 1rem;
  width: 100%;
}

.form-input::placeholder {
}

.bottom-margin {
  margin-bottom: 1rem;
}

.top-margin {
  margin-top: 1rem;
}

.right-margin {
  margin-right: 0.35rem;
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .form-container {
    width: 90%;
  }
}
